<include file="./App/Fruit/View/header.html" />
<body>
	<div data-role="page" id="pageone" data-position="fixed"> 
		<div data-role="content">
			<ul class="myorder-list">
				<volist name="order_list" id="vo" key="key">
				<li>
					<span style="display:none;"><{$color = $key%2}></span>
					<div class="myorder-list-info-1" <if condition="$color eq 1">style="background-color:#68b4ff;"</if>>
						
						<div class="myorder-list-info-status">
							<{$vo.ctime}>
						</div>
						<div class="myorder-list-info-id">
							订单号:<{$vo.order_id}>	
						</div>
					</div>
					<div class="myorder-list-info-2">
						<{$vo.to_name}> , <{$vo.to_mobile}>
						<br />
						配送地址：<{$vo.to_location}> <{$vo.to_location_detail}>
						<!--
						<br />
						约定配送：当日 <{$vo.sendtime}> 点-->
					</div>
					<div class="myorder-list-info-3">
						<if condition="$vo['coupon'] neq ''">
							<div>共使用：<{$vo.coupon}></div>
						</if>
						<{$vo.detail}>
					</div>
					<div class="myorder-list-info-4">
						<div class="myorder-list-info-price">
							订单总额：<span class="s1">￥<{$vo.price}></span>
							<if condition="$vo['iscommend'] eq 0">
								<if condition="$vo['statusold'] eq 4">
									<div class="myorder-gotockpl" style="margin-left:10px;border-color:#ff3300;">
										<a href="__APP__/home/index/sharecouponshare/id/<{$vo.order_id}>" data-ajax="false" style="color:#ff3300">发红包</a>
									</div>
									<div class="myorder-gotopl">
										<a href="__APP__/home/index/comment/id/<{$vo.order_id}>" style="color:#F15353">
											去评论
										</a>
									</div>
									
								<else />
									<span class="s2"><{$vo.status}></span>
								</if>
							<else />
								<div class="myorder-gotockpl" style="margin-left:10px;border-color:#ff3300;"> 
									<a href="__APP__/home/index/sharecouponshare/id/<{$vo.order_id}>" data-ajax="false" style="color:#ff3300">发红包</a>
								</div>
								<div class="myorder-gotockpl">
									<a href="__APP__/home/index/comment/id/<{$vo.order_id}>" style="color:#009900">查看评论</a>
								</div>
							</if>
						</div>
					</div>
				</li>
				</volist>
			</ul>
		</div>
		<div data-role="footer" data-position="fixed" data-theme="e" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
				<li><a href="__APP__/fruit/index" data-icon="grid" data-ajax="false">产品</a></li>
				<li><a href="__APP__/fruit/index/mycar" data-icon="star">购物车<span id='carnum'><{$carnum}></span></a></li>
				<li><a href="__APP__/home" data-icon="home" class="ui-btn-active ui-state-persist">个人中心</a></li>
				</ul>
			</div>
		</div>
	</div> 
</body>
</html>
 