<include file="./App/Fruit/View/header.html" />
<body>
	<div data-role="page" id="pageone" data-position="fixed"> 
		<div data-role="content">
			<{$types.coupon_name}>
			<ul class="myorder-list">
				<volist name="coupons" id="vo">
				<li>
					编号：<{$vo.coupon_id}>
					<br />
					获得日期：<{$vo.having_time|date="Y-m-d",###}>
					<br />
					有效期至：<if condition="$vo['valid_time'] neq 0"><{$vo.valid_time|date="Y-m-d",###}><else />无限期</if>
				</li>
				</volist>
			</ul>
		</div>
		<div data-role="footer" data-position="fixed" data-theme="e" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
				<li><a href="__APP__/fruit/index" data-icon="grid" data-ajax="false">产品</a></li>
				<li><a href="__APP__/fruit/index/mycar" data-icon="star">购物车<span id='carnum'><{$carnum}></span></a></li>
				<li><a href="__APP__/home" data-icon="home" class="ui-btn-active ui-state-persist">个人中心</a></li>
				</ul>
			</div>
		</div>
	</div> 
</body>
</html>
 