<include file="./App/Fruit/View/header.html" />
<body>
	<div data-role="page" id="pageone" data-position="fixed"> 
		<div data-role="content">
			<{$types.coupon_name}>
			<hr />
			1.参与活动获得 
			<br />
			2.通过微信支付，购买。
			<a href="__URL__/couponBuy/typeid/<{$types.type_id}>" data-role="button" data-ajax="false">Fot Test... 立即购买 5 张</a>
		</div>
		<div data-role="footer" data-position="fixed" data-theme="e" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
				<li><a href="__APP__/fruit/index" data-icon="grid" >产品</a></li>
				<li><a href="__APP__/fruit/index/mycar" data-icon="star">购物车<span id='carnum'><{$carnum}></span></a></li>
				<li><a href="__APP__/home" data-icon="home" class="ui-btn-active ui-state-persist">个人中心</a></li>
				</ul>
			</div>
		</div>
	</div> 
</body>
</html>
 