<include file="./App/Fruit/View/header.html" />

<script type="text/javascript">
    $(function() {
        $("img").lazyload({
            effect : "fadeIn",
            placeholder : "http://izhier.oss-cn-beijing.aliyuncs.com/static/images/loading.gif",
			load : showem
        });
		/*
        $('img').load(function(){
            varemid = $(this).attr('id');
            $("#em-"+varemid+"").show(600);    
        });
		*/
		function showem(){
			varemid = $(this).attr('id');
            $("#em-"+varemid+"").show(600); 
		}
    });
</script> 
<body onload="setDetail()">
	<div data-role="page" id="pageone" data-position="fixed"> 
		<div data-role="content" style="padding:0px;background-color:#fff;">
		<!--p style="border:1px dashed #1bbc9b;color:#666;padding:4px;font-size:14px;">冰爽鲜切水果，只需8元起！无配送费。</p-->
			<div class="fruit-list-type">
				<a href="__URL__" data-ajax="false"<if condition="$selected eq 'recommend'">class="selected"</if> >今日推荐</a>
				<volist name="type" id="vo" key="key">
				<a href="__URL__/index/type/<{$vo.type_id}>" data-ajax="false"<if condition="$selected eq $vo['type_id']" >class="selected"</if>>
					<{$vo.name}>
				</a>
				</volist>
			</div>
			<ul class="fruit-list">
				<volist name="fruit" id="data" key="key">
				<if condition="$data['order'] eq '-1'">
				<else />	
				<a href="__URL__/detail/id/<{$data.fruit_id}>" data-ajax="false">
				</if>
                <!--style="background:url('http://izhier.oss-cn-beijing.aliyuncs.com/upload<{$data.pic}>');background-size: cover;"-->
				<li class="fruit-list-li" 
				<if condition="$data['order'] eq '-1'">
					onclick="alert('今日已售罄,看看别的吧~')"
				</if>
				>
					<img  src="http://izhier.oss-cn-beijing.aliyuncs.com/static/images/loading.gif" data-original="http://izhier.oss-cn-beijing.aliyuncs.com/upload<{$data.pic}>" id="<{$key}>">	
                    <if condition="$data['order'] eq '-1'">
					<h2>&nbsp;<!--{$data.name}--> 
						<span style="font-size:16px;">今日售罄</span>
                    </h2>
                    </if>
					<div><!--<{$data.start}>--> <span>已售<{$data.buys}>份</span></div>
					<if condition="$data['price'] eq $data['original_price']">
					<em id="em-<{$key}>" style="display:none;"><span>￥</span> <{$data.original_price}></em>
					<else />
					<em id="em-<{$key}>" style="display:none;"><span>￥</span> <{$data.price}> <span style="color: #888888;font-size: 20px;"> | <s><{$data.original_price}></s></span></em>
					</if>
					
				</li>	
				<if condition="$data['order'] eq '-1'">
				<else />
					</a>
				</if>
				</volist>	
			</ul>
		</div>
		<div data-role="footer" data-position="fixed" data-theme="e" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
				<li><a href="__URL__/index" data-icon="grid" class="ui-btn-active ui-state-persist" data-ajax="false">产品</a></li>
				<li><a href="__URL__/mycar" data-icon="star">购物车<span id='carnum'><{$carnum}></span></a></li>
				<li><a href="__APP__/home" data-icon="home">个人中心</a></li>
				</ul>
			</div>
		</div>
	</div> 
</body>
</html>
