<include file="./App/Admin/View/header.html" />

<!-- 编辑器 -->
		<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
		<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
		<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
		<script>
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea[name="detail"]', {
					allowFileManager : true
				});
				K('input[name=getHtml]').click(function(e) {
					alert(editor.html());
				});
				K('input[name=isEmpty]').click(function(e) {
					alert(editor.isEmpty());
				});
				K('input[name=getText]').click(function(e) {
					alert(editor.text());
				});
				K('input[name=selectedHtml]').click(function(e) {
					alert(editor.selectedHtml());
				});
				K('input[name=setHtml]').click(function(e) {
					editor.html('<h3>Hello KindEditor</h3>');
				});
				K('input[name=setText]').click(function(e) {
					editor.text('<h3>Hello KindEditor</h3>');
				});
				K('input[name=insertHtml]').click(function(e) {
					editor.insertHtml('<strong>插入HTML</strong>');
				});
				K('input[name=appendHtml]').click(function(e) {
					editor.appendHtml('<strong>添加HTML</strong>');
				});
				K('input[name=clear]').click(function(e) {
					editor.html('');
				});
			});
		</script>
<!-- 编辑器 -->

<body>
	<div data-role="page" id="pageone" data-position="fixed"> 
		<div data-role="header" data-position="fixed">
			<div data-role="navbar">
				<ul>
				<li><a href="__APP__/Admin/Opinion" data-ajax="false">返回</a></li>
				</ul>
			</div>
		</div>
		<div data-role="content">
			<form method="post" data-ajax="false" enctype="multipart/form-data" action="__URL__/edit/id/<{$data.fruit_id}>">
			  <div data-role="fieldcontain">
				<label for="fullname">用户：<{$opinion.name}></label>
				<br /><br />
				<label for="fullname">意见：<{$opinion.question}></label>
				<br /><br />
				<label for="fullname">回复：</label>
				<input type="text" name="answer" id="fullname" placeholder="" value="<{$opinion.answer}>">
				<br /><br />
			  </div>
			  <input type='hidden' name='opinion_id' value='<{$opinion.opinion_id}>'>
			  <input type="submit" data-theme="b" value="修改">
			</form>
		</div>
	</div> 
</body>
</html>
 