<include file="./App/Admin/View/header.html" />
<body>
	<div data-role="page" id="pageone" data-position="fixed"> 
		<div data-role="header" data-position="fixed">
			<div data-role="navbar">
				<ul>
				<volist name="list" id="vo" key="key">
				<li><a href="__APP__/Admin/<{$vo}>" data-ajax="false" <if condition="$listnow eq $vo">class="ui-btn-active ui-state-persist"</if>><{$key}></a></li>
				</volist>
				</ul>
			</div>
		</div>
		<div data-role="content">
			<div data-role="navbar" >
				<ul>
				<volist name="opinionstatus" id="vo" key="key">
				<li><a href="__URL__/index/status/<{$vo.status}>" data-ajax="false" <if condition="$statusnow eq $vo['status']">class="ui-btn-active ui-state-persist"</if>><{$vo.statusname}></a></li>
				</volist>
				</ul>
			</div>
			<ul class="fruit-list">
				<volist name="opinion" id="vo">
				<a href="__URL__/edit/id/<{$vo.order_detail_id}>" data-ajax="false">
				<li class="admin_recommend_list_li">
					<h2 class="admin_recommend_list_h2"><{$vo.ctime|date='Y-m-d H-i',###}>[<{$vo.fruit_name}>] 
					<br />
					<{$vo.to_name}> (<{$vo.to_mobile}>)</h2>
					<em class="admin_recommend_list_em">用户: <{$vo.commend}></em>
					<div class="admin_recommend_list_div">回复：<{$vo.rcommend}></div>
				</li>	
				</a>
				</volist>	
			</ul>
		</div>
	</div> 
</body>
</html>
 