<include file="./App/Admin/View/header.html" />

<!-- 编辑器 -->
		<link rel="stylesheet" href="http://izhier.oss-cn-beijing.aliyuncs.com/kindeditor/themes/default/default.css" />
		<script charset="utf-8" src="http://izhier.oss-cn-beijing.aliyuncs.com/kindeditor/kindeditor-min.js"></script>
		<script charset="utf-8" src="http://izhier.oss-cn-beijing.aliyuncs.com/kindeditor/lang/zh_CN.js"></script>
		<script>
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea[name="detail"]', {
					allowFileManager : true
				});
				K('input[name=getHtml]').click(function(e) {
					alert(editor.html());
				});
				K('input[name=isEmpty]').click(function(e) {
					alert(editor.isEmpty());
				});
				K('input[name=getText]').click(function(e) {
					alert(editor.text());
				});
				K('input[name=selectedHtml]').click(function(e) {
					alert(editor.selectedHtml());
				});
				K('input[name=setHtml]').click(function(e) {
					editor.html('<h3>Hello KindEditor</h3>');
				});
				K('input[name=setText]').click(function(e) {
					editor.text('<h3>Hello KindEditor</h3>');
				});
				K('input[name=insertHtml]').click(function(e) {
					editor.insertHtml('<strong>插入HTML</strong>');
				});
				K('input[name=appendHtml]').click(function(e) {
					editor.appendHtml('<strong>添加HTML</strong>');
				});
				K('input[name=clear]').click(function(e) {
					editor.html('');
				});
			});
		</script>
<!-- 编辑器 -->

<body>
	<div data-role="page" id="pageone" data-position="fixed"> 
		<div data-role="header" data-position="fixed">
			<div data-role="navbar">
				<ul>
				<li><a href="__APP__/Admin/Product" data-ajax="false">返回</a></li>
				</ul>
			</div>
		</div>
		<div data-role="content">
			<form method="post" data-ajax="false" enctype="multipart/form-data" action="__URL__/edit/id/<{$data.fruit_id}>">
			  <div data-role="fieldcontain">
				<label for="fullname">所属分类：</label>
				<select name="type_id">
					<volist name="type" id="vo">
						<option value="<{$vo.type_id}>" <if condition="$vo['type_id'] eq $product['type_id']">selected='selected'</if>><{$vo.name}></option>
					</volist>
				</select>
				<br /><br />
				<label for="fullname">排序(越大越靠前)：</label>
				<select name="order" id="order">
					<option value="10" <if condition="$product['order'] eq 10">selected='selected'</if> >10</option>
					<option value="9" <if condition="$product['order'] eq 9">selected='selected'</if> >9</option>
					<option value="8" <if condition="$product['order'] eq 8">selected='selected'</if> >8</option>
					<option value="7" <if condition="$product['order'] eq 7">selected='selected'</if> >7</option>
					<option value="6" <if condition="$product['order'] eq 6">selected='selected'</if> >6</option>
					<option value="5" <if condition="$product['order'] eq 5">selected='selected'</if> >5</option>
					<option value="4" <if condition="$product['order'] eq 4">selected='selected'</if> >4</option>
					<option value="3" <if condition="$product['order'] eq 3">selected='selected'</if> >3</option>
					<option value="2" <if condition="$product['order'] eq 2">selected='selected'</if> >2</option>
					<option value="1" <if condition="$product['order'] eq 1">selected='selected'</if> >1</option>
					<option value="-1" <if condition="$product['order'] eq 1">selected='selected'</if> >售罄</option>
					<option value="0" <if condition="$product['order'] eq 0">selected='selected'</if> >删除</option>
				</select>
				<br /><br />
				<label for="fullname">首页推荐：</label>
				<select name="recommend" id="recommend">
					<option value="1" <if condition="$product['recommend'] eq 1">selected='selected'</if> >是</option>
					<option value="0" <if condition="$product['recommend'] eq 0">selected='selected'</if> >否</option>
				</select>
				<br /><br />
				<label for="fullname">产品简称：</label>
				<input type="text" name="name" id="fullname" value="<{$product.name}>">   
				<br /><br />
				<label for="fullname">简介全称：</label>
				<input type="text" name="intro" id="fullname" value="<{$product.intro}>">
				<br /><br />
				<label for="fullname">现价：</label>
				<input type="text" name="price" id="fullname" placeholder="" value="<{$product.price}>">
				<br /><br />
				<label for="fullname">原价：</label>
				<input type="text" name="original_price" id="fullname" placeholder="" value="<{$product.original_price}>">
				<br /><br />
				<label for="fullname">销量：</label>
				<input type="text" name="buys" id="fullname" placeholder="" value="<{$product.buys}>">
				<br /><br />
				<label for="fullname">红色提示：</label>
				<input type="text" name="redname" id="fullname" placeholder="" value="<{$product.redname}>">
				<br /><br />
				<label for="fullname">成分1：</label>
				<input type="text" name="chengfen_name_1" id="chengfen_name_1" placeholder="" value="<{$product.chengfen_name_1}>">
				<label for="fullname">值1：</label>
				<input type="text" name="chengfen_bfb_1" id="chengfen_bfb_1" placeholder="" value="<{$product.chengfen_bfb_1}>">
				<br /><br />
				<label for="fullname">成分2：</label>
				<input type="text" name="chengfen_name_2" id="chengfen_name_2" placeholder="" value="<{$product.chengfen_name_2}>">
				<label for="fullname">值2：</label>
				<input type="text" name="chengfen_bfb_2" id="chengfen_bfb_2" placeholder="" value="<{$product.chengfen_bfb_2}>">
				<br /><br />
				<label for="fullname">成分3：</label>
				<input type="text" name="chengfen_name_3" id="chengfen_name_3" placeholder="" value="<{$product.chengfen_name_3}>">
				<label for="fullname">值3：</label>
				<input type="text" name="chengfen_bfb_3" id="chengfen_bfb_3" placeholder="" value="<{$product.chengfen_bfb_3}>">
				<br />
				<label for="fullname">详情(500*450|JPG格式)：</label>
				<input type="file" name="img_s">
				<img src="http://izhier.oss-cn-beijing.aliyuncs.com/upload<{$product.picbig}>" height='40px'>
				<br /><br />
				<label for="fullname">列表(640*310|JPG格式)：</label>
				<input type="file" name="img_b">
				<img src="http://izhier.oss-cn-beijing.aliyuncs.com/upload<{$product.pic}>" height='40px'>
				<br /><br />

				<label for="fullname">产品详情：</label>
				<textarea name="detail" style="width:600px;height:400px;visibility:hidden;float:right;" id='fullname'><{$product.detail}></textarea>
				<br /><br />
			  </div>
			  <input type='hidden' name='fruit_id' value='<{$product.fruit_id}>'>
			  <input type="submit" data-theme="b" value="修改">
			</form>
			<volist name="addinfo" id="vo">
				<a data-role="button" href="__APP__/Admin/Product/editaddinfo/addid/<{$vo.id}>/fruitid/<{$product.fruit_id}>">
					<{$vo.display_order}>、<{$vo.name}> (￥<{$vo.price}>)
				</a>
			</volist>
			<a data-role="button"  href="__APP__/Admin/Product/addaddinfo/fruitid/<{$product.fruit_id}>">
				+ 添加附加条件
			</a>
		</div>
	</div> 
</body>
</html>
 
